/* 236.5 */
#stat_line:before { content:"+236.5 million detonations and counting! "; display: block; } /* Counter last incremented 2022-02-03 13:31:04 */
/*
     FILE ARCHIVED ON 01:06:23 Feb 04, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:51:43 Feb 27, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 207.39
  exclusion.robots: 0.08
  exclusion.robots.policy: 0.074
  RedisCDXSource: 0.679
  esindex: 0.007
  LoadShardBlock: 168.232 (3)
  PetaboxLoader3.datanode: 134.333 (4)
  CDXLines.iter: 18.431 (3)
  PetaboxLoader3.resolve: 128.907 (2)
  load_resource: 99.1
*/